env/

api_key/
.ipynb_checkpoints/
other works/

answer_finding*

**/*.txt
**/*.csv
data/raw/**
!data/raw/**/raw
data/interim/**
!data/interim/**/interim
data/processed/**
!data/processed/**/processed

models/checkpoints/**
models/word-embedding/**

!**/filler