env/

api_key/
.ipynb_checkpoints/
other works/

answer_finding*

**/__pycache__/

**/*.txt
**/*.csv
data/raw/**
!data/raw/**/raw
data/interim/**
!data/interim/**/interim
data/processed/**
!data/processed/**/processed

/models/
!/models/final

!**/filler